/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #F08626; 
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e6731f; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
  background-color: #ff4d4d;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

li button:hover {
  background-color: #ff1a1a;
}